@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a.active {
  @apply text-taupe;
}

label{
  font-size: 14px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
