@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a.active {
  color: blue;
} */
/* .active-link {
  color: blue;
} */

label {
  font-size: 14px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-select-selection-placeholder {
  color: black !important;
}
.ant-select{
  border-radius: none !important;
}
