@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a.active {
  color: blue;
} */
/* .active-link {
  color: blue;
} */

label {
  font-size: 14px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-select-selection-placeholder {
  color: black !important;
}
.ant-select {
  border-radius: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ant-menu-submenu {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: #000 !important;
  font-weight: bold !important;
}
.ant-menu-item {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: #000 !important;
  font-weight: bold !important;
}
.ant-menu-title-content
  .anticon
  .anticon-appstore
  .ant-menu-item-icon
  .ant-menu-submenu-arrow {
  color: #000 !important;
  font-weight: bold !important;
}
.ant-menu-submenu-title .ant-menu-submenu .ant-menu-submenu-inline {
  color: #000 !important;
  font-weight: bold !important;
}
:where(.css-11lehqq).ant-menu-light,
:where(.css-11lehqq).ant-menu-light > .ant-menu {
  color: #000 !important;
  font-weight: bold !important;
}

.ant-menu-item-only-child {
  margin-left: 20px !important;
  color: #000 !important;
  font-weight: bold !important;
  font-family: "Nunito", sans-serif !important;
}
:where(.css-11lehqq).ant-menu-item-only-child {
  margin-left: 20px !important;
  color: #000 !important;
  font-weight: bold !important;
  font-family: "Nunito", sans-serif !important;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-inline
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-vertical
  .ant-menu-submenu-title {
  font-weight: bold !important;
}

:where(.css-11lehqq).ant-menu-inline .ant-menu-submenu-title,
:where(.css-11lehqq).ant-menu-vertical .ant-menu-submenu-title {
  font-weight: bold !important;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light > .ant-menu {
  background: #fff !important;
  color: #000 !important;
  font-weight: bold !important;
}

:where(.css-11lehqq).ant-menu-light,
:where(.css-11lehqq).ant-menu-light > .ant-menu {
  background: #fff !important;
  color: #000 !important;
  font-weight: bold !important;
}

:where(.css-11lehqq).ant-menu-inline .ant-menu-item,
:where(.css-11lehqq).ant-menu-vertical .ant-menu-item,
:where(.css-11lehqq).ant-menu-inline .ant-menu-submenu-title,
:where(.css-11lehqq).ant-menu-vertical .ant-menu-submenu-title {
  padding-left: 5px !important;
  font-size: 16px !important;
  color: #000 !important;
  font-family: "Nunito", sans-serif !important;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-inline
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-vertical
  .ant-menu-submenu-title {
  padding-left: 5px !important;
  font-size: 16px !important;
  color: #000 !important;
  font-family: "Nunito", sans-serif !important;
}

:where(.css-11lehqq).ant-menu-light .ant-menu-item,
:where(.css-11lehqq).ant-menu-light > .ant-menu .ant-menu-item,
:where(.css-11lehqq).ant-menu-light .ant-menu-submenu-title,
:where(.css-11lehqq).ant-menu-light > .ant-menu .ant-menu-submenu-title {
  font-size: 16px !important;
  color: #000 !important;
  font-family: "Nunito", sans-serif !important;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  border-radius: 0px !important;
  background: #fff !important;
  color: #b9b436 !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: bold !important;
}

:where(.css-11lehqq).ant-menu-light .ant-menu-item-selected,
:where(.css-11lehqq).ant-menu-light > .ant-menu .ant-menu-item-selected {
  background: #fff !important;
  border-radius: 0px !important;
  color: #b9b436 !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: bold !important;
}

:where(
    .css-dev-only-do-not-override-11lehqq
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-11lehqq
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none !important;
}

:where(.css-11lehqq).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-11lehqq).ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-11lehqq).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-11lehqq).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none !important;
}

:where(.css-11lehqq).ant-menu-light,
:where(.css-11lehqq).ant-menu-light > .ant-menu {
  color: black !important;
  background: #fff !important;
  padding-left: 0 !important;
  font-weight: bold !important;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-select-multiple
  .ant-select-selector {
  border-radius: 0px !important;
}
:where(.css-11lehqq).ant-select-multiple .ant-select-selector {
  border-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: white !important;
}

:where(.css-11lehqq).ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-11lehqq).ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: white !important;
}

.recharts-wrapper text {
  font-family: "Nunito", sans-serif;
}

/* .ant-modal-header{
  background-color: #E5E4E2 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
} */

:where(.css-dev-only-do-not-override-11lehqq).ant-select .ant-select-arrow {
  color: #000 !important;
}
:where(.css-11lehqq).ant-select .ant-select-arrow {
  color: #000 !important;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-color: rgb(156 163 175) !important;
}

:where(.css-11lehqq).ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: rgb(156 163 175) !important;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  padding-left: 20px !important;
  font-weight: normal !important;
}

:where(.css-11lehqq).ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-11lehqq).ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  padding-left: 20px !important;
  font-weight: normal !important;
}

select {
  background: url("/down.svg")
    no-repeat 95%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0px 20px;
}
